@media (max-width: 575.98px) {
    header {
        padding: 44px 0px;

        #hero {
            columns: 1;
            max-width: 100%;
            padding: 24px;

            .hero-cta {
                min-height: auto;
                margin-top: 40px;
                max-width: 100%;
                text-align: center;

                h1 {
                    font-size: 30px;
                }

                p {
                    padding: 0 16px;
                }
            }

            .hero-img {
                padding-top: 40px;

                img {
                    width: 100%;
                }
            }
        }
    }

    input {
        width: 83%;
    }

    section {
        padding: 0px 40px 0px 40px;
        margin-bottom: 0px;

        .card__wrapper {
            margin-bottom: 32px;
            padding: 0 32px;
        }
    }

    .bottom-cta {
        height: auto;
        padding: 40px 0px;

        .img-wrapper__bottom-cta {
            display: none;
        }

        .text-wrapper__bottom-cta {
            position: static;

            h2 {
                line-height: 1.3em;
            }

            p {
                font-size: 16px;
                line-height: 1.4em;
            }
        }
    }


    footer {
        text-align: center;
        padding: 40px 24px;

        p {
            font-size: 13px;
            line-height: 1.6em;
        }

        .copyright {
            font-size: 10px;
        }

        .office-address {
            line-height: 1.6em;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        #hero {
            columns: 1;
            padding: 80px;

            .hero-cta {
                max-width: 100%;
            }
        }
    }
    
    section {
        @include column-center();
        padding : 0 80px;
    }
    
    .bottom-cta {
        .img-wrapper__bottom-cta {
            display: none;
        }

        .text-wrapper__bottom-cta {
            left: 16%;
        }
    }
}

@media (min-width: 991.98px) and (max-width: 1439.98px) {
    header {
        #hero {
            padding: 100px 200px 200px 200px;

            .hero-cta {
                min-height: 100vh;
                max-width: 80%;
            }

            .hero-img {
                min-height: 100vh;
            }
        }
    }

    section {
        .card__wrapper {
            @include column-center();
            background-color: $color-component-darker;
            width: 235px;
            height: 235px;
            margin-bottom: 26px;

            .illustration-card__wrapper {
                img {
                    height: 80px;
                }
            }

            .text-card__wrapper {
                .text-title__card {
                    text-align: center;
                    line-height: 2em;
                    margin-top: 16px;
                }

                .text-desc__card {
                    padding: 0;
                }
            }
        }
    }
    
    input {
        width: 83.3%;
    }
    .bottom-cta {
        .img-wrapper__bottom-cta {
            left: 13.3%;
        }

        .text-wrapper__bottom-cta {
            left: 35%;
            max-width: 60%;
        }
    }
    footer {
        padding: 60px 100px 80px 100px;
        p {
            width: 80%;
        }
    }
}
