$color-primary               : #00BD88;
$color-primary-hover         : #00A174;
$color-background            : #121212;
$color-white                 : #FFFFFF;
$color-light                 : #B8B8B8;
$color-semilight             : #B5B5B5;
$color-grey                  : #929292;   
$color-component-dark        : #2A2A2A;  
$color-component-darker      : #1E1E1E;    
$color-component-dark-text   : #A5A5A5;
$color-component-dark-border : #373737;