@font-face {
    font-family: Proxima-Nova-Regular;
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"), local("Proxima Nova Regular"),
        url("../../font/ProximaNova-Regular") format("woff2")
}

@font-face {
    font-family: Proxima-Nova-Light;
    font-style: light;
    font-weight: 300;
    src: local("Proxima Nova"), local("Proxima Nova Light"),
        url("../../font/ProximaNova-Light") format("woff2")
}

@font-face {
    font-family: Proxima-Nova-Bold;
    font-style: bold;
    font-weight: 700;
    src: local("Proxima Nova"), local("Proxima Nova Bold"),
        url("../../font/ProximaNova-Bold") format("woff2")
}

body {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    background-color: $color-background;
    color: $color-light;
    max-width: 100%;
}

@mixin heading {
    font-weight: 700;
    color: $color-white;
}

h1 {
    @include heading();
    font-size: 49px;
}

h2 {
    @include heading();
    font-size: 32px;
}

h3 {
    @include heading();
    font-size: 24px;
}

input {
    background-color: $color-component-dark;
    border: 1px solid $color-component-dark-border;
    color: $color-component-dark-text;
    font-size: 16px;
    font-weight: 700;
    padding: 0 30px;
    height: 46px;
    width: 88.3%;
    border-radius: 10px;
    transition: 0.1s;
    filter: drop-shadow(2px 4px 12px rgba(0, 190, 114, 0.1));

    &:focus {
        border: 1px solid $color-primary;
        outline: 0;
        transition: 0.3s;
        color: $color-primary;
    }
}

/* Works on Firefox */
// * {
//     scrollbar-width: thin;
//     scrollbar-color: blue orange;
// }

/* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//     width: 12px;
// }

// *::-webkit-scrollbar-track {
//     background: orange;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: blue;
//     border-radius: 20px;
//     border: 3px solid orange;
// }