.button-primary {
    @include row-center();
    background-color: $color-primary;
    color: $color-white;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:active {
        background-color: $color-primary-hover;
        transition: 0.3s;
    }

    &:hover {
        background-color: $color-primary-hover;
        transition: 0.3s;
    }

    &:focus {
        outline: none;
    }
}