header {
    padding: 88px 0 0 0;

    .logo {
        @include column-center();
    }

    #hero {
        columns: 2;
        max-width: 100%;
        padding: 160px 200px 200px 200px;

        .hero-cta {
            min-height: 65vh;
            max-width: 70%;
            
            h1 {
                margin-top: 24px;
                line-height: 1.2em;
            }

            p {
                font-size: 20px;
                line-height: 1.4em;
                margin: 24px 0;
            }

            form {
                width: 100%;
                margin-top: 40px;
            }

            .button-primary {
                width: 100%;
                margin: 24px 0 0 0;
            }
        }

        .hero-img {
            @include column-center-start();
            min-height: 65vh;
        }
    }
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
    padding: 0 200px 100px 200px;
    margin-bottom: 140px;

    .card__wrapper {
        @include column-center();
        background-color: $color-component-darker;
        width: 400px;
        height: 400px;
        border-radius: 12px;
        padding: 32px;
        margin-bottom: 56px;

        .illustration-card__wrapper {
            img {
                height: 120px;
            }
        }

        .text-card__wrapper {
            @include column-center();

            .text-title__card {
                text-align: center;
                line-height: 2em;
                margin-top: 40px;
            }

            .text-desc__card {
                font-size: 18px;
                margin-top: 16px;
                text-align: center;
                line-height: 1.6em;
                padding: 0 24px;
            }
        }
    }
}

.bottom-cta {
    @include row-center();
    position: relative;
    background-color: $color-component-darker;
    height: 300px;

    .img-wrapper__bottom-cta {
        position: absolute;
        bottom: -3px;
        left: 10%;
        max-width: 20%;
    }

    .text-wrapper__bottom-cta {
        position: absolute;
        left: 26%;
        max-width: 80%;

        p {
            font-size: 22px;
            padding: 24px 0 40px 0;
            line-height: 1.4em;
        }

        .badge-store__wrapper {
            @include row-center-start();
            .badge-img {
                max-height: 46px;
                margin-right: 12px;
            }
        }
    }
}

footer {
    @include column-center();
    padding: 80px 100px 120px 100px;
    text-align: center;
    p {
        width: 100%;
        line-height: 1.4em;
    }
    .copyright {
        margin: 32px 0 20px 0;
    }
    .office-address {
        font-size: 10px;
        font-weight: 300;
        color: $color-grey;
    }
}